include pug/libs/_libs

doctype html
html(lang="ru")
  include pug/_head
  .container
    h1 Hello from Webpack
    h2.container__subtitle
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui aliquid eligendi ratione illo commodi unde similique, voluptas iure illum rerum. Autem iste dolores a labore, quod recusandae asperiores cum maxime?
    h3 
      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam impedit nihil qui quasi perspiciatis minus incidunt? Amet, earum soluta doloremque aliquid quia tenetur blanditiis recusandae repellat, architecto vel quis aut!
    +image('rectangle')
    +image('internet')
    .block
    ul
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta enim error et illum, nam numquam sed unde vel voluptatibus. Blanditiis dolorum eaque error exercitationem impedit nam quod ratione similique?
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta enim error et illum, nam numquam sed unde vel voluptatibus. Blanditiis dolorum eaque error exercitationem impedit nam quod ratione similique?
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta enim error et illum, nam numquam sed unde vel voluptatibus. Blanditiis dolorum eaque error exercitationem impedit nam quod ratione similique?
      li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta enim error et illum, nam numquam sed unde vel voluptatibus. Blanditiis dolorum eaque error exercitationem impedit nam quod ratione similique?